.card-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    margin: auto;
    overflow-x:scroll;
}
.card-blog h2{
    color: #000000;
    font-size: 1.2rem;
}
.card-blog a{
    text-decoration: none;
}
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    border-left: 5px solid #da5f0f;
    padding: 30px;
    margin: 20px;
    min-width: 450px;
    min-height: 250px;
    transition: all 0.3s ease-out;
    overflow: auto;
}
.card:nth-child(even){
    border-left: 5px solid #003d74;
}
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.card p {
    color: #a3a5ae;
    font-size: 16px;
}
.image {
    float:right;
    max-width: 80px;
    max-height: 70px;
}
  
