/*Mobile:Celular*/
@media (max-width:767px){
    body{
        overflow-x: hidden;
    }
    /*Header*/
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background: #003d7a;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header h1{
        font-size: 20px;
    }
    header ul.list-auto {
        padding: 0;
        font-size: 1rem;
        text-align: center;
    }
    header ul.list-auto li {
        width: 100%;
        border: solid #ccc;
        border-width: 0 0 1px;
    }
    header li a {
        padding: 15px 10px;
        color: #ffffff;
        font-weight: 300;
        font-size: 1.3rem;
    }
    header li a:hover{   
        color: #da5f0f;
    }
    .control-nav { /*Label icon*/
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #ffffff;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #ffffff;
    }
    .control-nav-close {
        position: fixed; /*Label layer*/
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.2);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    input#control-nav {/*Checked nav*/
        display: block;
    }
    input#control-nav:focus ~ .control-nav {
        border-color: #000;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    }
    input#control-nav:focus ~ .control-nav:before {
        background: #000;
    }
    input#control-nav:checked ~ nav,
    input#control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    /*Slider*/
    #slides{
        display: none;
    }
    /*Divisores*/
    .divisors h1{
        font-size: 1.2rem;
    }
    .rec2{
        width: 15rem;
        height: 2.8rem;
    }
    .rec{
        width: 15rem;
        height: 2.8rem;
    }
    /*About*/
     .content-card-about{
        display: inline-flex;
        flex-direction: column;
        margin: auto auto;
        text-align: center;
        max-width: 95%;
        justify-content: center;
    }
    .content-card-about img{
       max-width: 17rem;
    }
    .content-card-about .text{
       align-items: center;
       font-size: 1rem;
   }
   .about{
       width: 90%;
       margin-left: 1rem;
       margin-right: 1rem;
       text-align: center;
       align-items: center;
       overflow-x: hidden;
    }
     /*Teams*/
     .content-card{
         display: inline-flex;
         flex-direction: column;
         margin: auto auto;
         text-align: center;
         max-width: 95%;
     }
     .content-card h1{
         font-size: 1.5rem;
     }
     .content-card img{
        max-width: 17rem;
     }
     .content-card .category-text{
        align-items: center;
        font-size: 1rem;
    }
    .title-teams{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        align-items: center;
        overflow-x: hidden;
     }
     /*Awards*/
     .awards{
         display: inline-block;
         flex-direction:column;
         text-align: center;
         margin: auto auto;
         white-space: nowrap;
         max-width: 95%;
     }
     .awards h1{
         font-size: 1rem;
     }
     .place{
        text-align: center;
        max-width: 95%;
        min-height: 500px;
        word-break: break-word;
        white-space: normal;
        box-shadow:1px 3px 15px 7px rgba(0,0,0,0.2);
     }
     .place li{
        font-size: 0.8rem;
    }
     .place:hover{
        transform: none;
    }
     /*Blog*/
     .card{
         max-width: 250px;
         height: 230px;
         word-break: break-word;
         transition: none;
     }
     .card-blog h2{
        font-size: 1rem;
    }
     .card:hover {
        transform: none;
        cursor:pointer;
     }
     .card p{
         font-size: 12px;
     }
     .image{
         display: none;
     }
     .card .first-card{
        height: 75px;
        line-height: 75px;
    }
    .card .last-card{
        height: 110px;
        line-height: 25px;
    }
     /*Partners*/
     .content-card-partners{
        display: flex;
        flex-direction:row;
        text-align: center;
        margin: 1rem auto;
        justify-content: center;
        align-items: center;
     }
     .img-partners{
         text-align: center;
     }
     .img-partners a img{
        width: 7rem;
     }
     /*Footer e contact*/
     footer{
        display: inline-block;
        flex-direction:column;
        text-align: center;
        margin: auto auto;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
    footer .contact{
        text-align: center;
        justify-content: center;
        word-break: break-word;
        white-space: normal;
        top: 50%;
        left: 50%;
        margin: 1.5rem auto;
    }
    footer img{
        width: 8rem;
        height: 8rem;
    }
    .contact h1{
        font-size: 1rem;
    }
}
/*Mobile:Tablet*/
@media(max-width:900px){
    body{
        overflow-x: hidden;
    }
    /*Header*/
    header nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        background: #003d7a;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    header h1{
        font-size: 20px;
    }
    header ul.list-auto {
        padding: 0;
        text-align: center;
    }
    header ul.list-auto li {
        width: 100%;
        border: solid #ccc;
        border-width: 0 0 1px;
    }
    header li a {
        padding: 15px 10px;
        color: #ffffff;
        font-weight: 300;
    }
    header li a:hover{
        color: #da5f0f;
    }
    .control-nav { /*Label icon*/
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #ffffff;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }
    .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #ffffff;
    }
    .control-nav-close {
        position: fixed; /*Label layer*/
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0,0,0,0.2);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }
    input#control-nav { /*Checked nav*/
        display: block;
    }
    input#control-nav:focus ~ .control-nav {
        border-color: #000;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
    }
    input#control-nav:focus ~ .control-nav:before {
        background: #000;
    }
    input#control-nav:checked ~ nav,
    input#control-nav:checked ~ .control-nav-close {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }
    /*About*/
    .content-card-about{
        width:95%;
        display: flex;
        flex-direction: row-reverse;
        margin: auto auto;
        overflow-x: hidden;
     }
     .content-card .text{
        align-items: center;
        justify-content: center;
        margin: auto auto;
        width: 100%;
     }
     .content-card-about img{
         width: 22rem;
     }
     /*Teams*/
     .content-card{
         width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
     }
     .content-card img{
        max-width: 22rem;
        text-align: center;
    }
     .content-card .category-text{
        align-items: center;
        width: 100%;
    }
    .title-teams{
        min-width: 60%;
        text-align: center;
        align-items: center;
        overflow-x: hidden;
    }
     /*Awards*/
     .awards{
         display: flex;
         flex-direction:column;
         text-align: center;
         margin: auto auto;
         align-items: center;
     }
     .place{
        text-align: center;
     }
     .place:hover{
        transform: none;
    }
    /*Partners*/
    .content-card-partners{
        display: flex;
        flex-direction:row;
        text-align: center;
        margin: 1.5rem auto;
        justify-content: center;
        align-items: center;
     }
     .img-partners{
         text-align: center;
     }
     .img-partners img{
        width: 10rem;
     }
     /*Blog*/
     .card{
         max-width: 250px;
         height: 250px;
         word-break: break-word;
         transition: none;
     }
     .card:hover {
        transform: none;
        cursor:pointer;
    }
    .card img{
        display: none;
    }
}
