body{
    overflow-x: hidden;
}
/*New Header*/
header{
    min-height: 30px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #003D7A;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    
}
.header-content{
    display: none;
}
header img{
    width: 6.5rem;
}
header h1{
    position: relative;
    left: 17%;
}

header h1 a{
    font-size: 2.2rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 40px 40px;
    position: relative;
    bottom: 40px;
}

header h1 .main:hover{
    transform: translateY(
        -5px
    );

}

/*Divisors*/
.divisors-subpage{
    display: flex;
    position: relative;
    margin-top: 6rem;
    justify-content: center;
}
.divisors-subpage h1{
    color: white;
    z-index: 10;
    text-align: center;
    align-items:center;
    font-size: 1.4rem;
    margin:1rem;
}
/*Section About*/
#champions {
    color: #da5f0f;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 25px;
    padding: 25px 0 0 0;
}
.content-card-subpage{
    background-color:#003D7A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25px;
    padding: 2rem;
    height: 65vh;
 }
.content-card-subpage iframe{
    border: 4px solid #003D7A;
    padding: 5px;
    justify-content: center;
}

.title-teams-subpage{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.content-card-subpage .category-text{
    font-size: 2rem;
    text-align: justify;
    justify-content: space-around;
    text-indent: 3rem;
    margin: 1rem;
    width: 50%;
    padding: 0 2rem 0 2rem;
}

.title-teams-subpage img{
    max-width: 60vw;
    max-height: 60vh;
    width: 50%;
    height: 100%;
    padding: 25px 2rem 25px 2rem;
    border-radius: 40px;
}
/*Team Members cards*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.members{
    display: grid;
    height: 100%;
    place-items: center;   
}
.container{
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
  width: calc(33% - 10px);
  min-height: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 25px;
  border: 2px solid #003D7A;
  margin-bottom: 25px;
}
.container .box .image-profile{
  margin: 10px 0;
  height: 250px;
  width: 250px;
  background: #da5f0f;
  padding: 3px;
  border-radius: 50%;
}
.box .image-profile img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.image-profile {
    float:right;
    max-width:6.5rem;
    max-height: 6.5rem;
}
.box p{
  text-indent: 1rem;
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #003d74;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #003d74;
  font-size: 18px;
  font-weight: 600;
}
 .members a{
    color: #da5f0f;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #da5f0f;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
    /*Cards profile*/
    .container .box{
    width: 80%;
    position: relative;
    left: -12%;
  }
}
/*Contributions cards*/
.card-contributions-section{
    overflow-x:auto;
    overflow-y:hidden ;
    width: 100%;
    margin: auto 80px;
}
.card-contributions-section h2{
    color: #000000;
    font-size: 1rem;
}
.card-contributions-section a{
    text-decoration: none;
}
.card-contributions {
    display: inline-block;
    padding: 30px;
    margin: 20px 20px;
    width: 400px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    border-left: 5px solid #da5f0f;
    transition: all 0.4s ease-out;
    word-break: break-word;
    white-space: normal;
    background-color: white;
}
.card-contributions .first-card{
    height: 55px;
    line-height: 55px;
}
.card-contributions .last-card{
    height: 55px;
    line-height: 25px;
}
.card-contributions:nth-child(even){
    border-left: 5px solid #003d74;
}
.card-contributions:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.card-contributions p {
    color: #a3a5ae;
    font-size: 16px;
    margin-top: 1rem;
}
/*Galery and video player*/
.galery{
    background-color: #003D7A;
    height: 520px;
    width:100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px auto;
}
.galery-content{
    height: 460px;
    width:935px;
    overflow: hidden;
    position: absolute;
    /*top:50% ;
    left:50%;
    transform: translate(50%, 50%);*/
}
.navigation{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 80px;
    height:15px;
    border: 3px solid #fff;
    border-radius: 5px;
    margin:6px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: #fff;
}
input{
    display: none;
}
.slides{
    display: flex;
    width:1000%; /*100 * n de imagens*/
    height:100%;
}
.slide{
    width: 10%; /*100/n de imagens*/
    height: 520px;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#slide1:checked ~ .s1{
    margin-left: 0;
}
#slide2:checked ~ .s1{
    margin-left: -10%;
}
#slide3:checked ~ .s1{
    margin-left: -20%;
}
#slide4:checked ~ .s1{
    margin-left: -30%;
}
#slide5:checked ~ .s1{
    margin-left: -40%;
}
#slide6:checked ~ .s1{
    margin-left: -50%;
}
#slide7:checked ~ .s1{
    margin-left: -60%;
}
#slide8:checked ~ .s1{
    margin-left: -70%;
}
#slide9:checked ~ .s1{
    margin-left: -80%;
}
#slide10:checked ~ .s1{
    margin-left: -90%;
}
/*Video*/
.video-player{
    background-color: #003D7A;
    height: 520px;
    width:100%;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 70px auto;
}
.video-player-content{
    height: 460px;
    width:935px;
    overflow: hidden;
    position: absolute;
    /*top:50% ;
    left:50%;
    transform: translate(50%, 50%);*/
}
.player-navigation{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.player-bar{
    width: 80px;
    height:15px;
    border: 3px solid #fff;
    border-radius: 5px;
    margin:6px;
    cursor: pointer;
    transition: .4s;
}
.player-bar:hover{
    background-color: #fff;
}
input{
    display: none;
}
.videos{
    display: flex;
    width:400%; /*100 * n de imagens*/
    height:100%;
}
.video{
    width: 25%; /*100/n de imagens*/
    height: 520px;
    transition: .6s;
}
.video iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#video1:checked ~ .s1{
    margin-left: 0;
}
#video2:checked ~ .s1{
    margin-left: -25%;
}
#video3:checked ~ .s1{
    margin-left: -50%;
}
#video4:checked ~ .s1{
    margin-left: -75%;
}
/*Section awards*/
.awards-subpage{
    display:flex;
    margin: auto auto;
    justify-content: center;
}
.place-subpage {
    box-shadow:1px 3px 12px 1px rgba(0,0,0,0.47);
    padding: 0.5rem;
    word-wrap: break-word;
    width: 280px;
    height: 300px;
    margin: 1rem 1rem;
    text-align: center;
    transition: all 0.4s ease-out;
    border-top: 5px solid #da5f0f;
    border-radius: 25px;
}
.place-subpage:hover{
    transform: translateY(-5px);
}
.awards-subpage h1{
    color: #da5f0f;
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    margin: auto;
}
.awards-subpage ol{
    list-style:none;
}
.place-subpage li{
    color: #003D7A;
    font-size: 1.2rem;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
}

/*Mobile:Celular*/
@media (max-width:767px){
    /*Header*/
    header{
        display: flex;
        max-width: 100vw;
        justify-content: center;
    }
    /*Divisors*/
    .divisors-subpage{
        margin-top: 2rem;
    }
   .divisors-subpage h1{
        font-size: 1rem;
    }
    .rec2-subpage{
        width: 15rem;
        height: 2.8rem;
    }
    .rec-subpage{
        width: 15rem;
        height: 2.8rem;
    }
    /*About*/
    .title-teams-subpage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .content-card-subpage{
        left : 0;
        padding: 0;
    }
    .content-card-subpage .category-text{
        font-size: 2rem;
        text-align: justify;
        text-indent: 3rem;
        margin: 1rem;
        width: 80%;
        padding: 0.5rem;
    }
    
    .title-teams-subpage img{
        position: relative;
        width: 100%;
        height: 30vh;
        padding: 0;
        border-radius: 10px;
    }

    .content-card-subpage{
        min-width: 95%;
    }
    /*Awards*/
    .awards-subpage{
        display: flex;
        flex-direction:column;
        text-align: center;
        margin: auto auto;
        white-space: nowrap;
        max-width: 95%;
    }
    .awards-subpage h1{
        font-size: 1rem;
    }
    .place-subpage{
        margin: 1rem auto;
        justify-content: center;
       text-align: center;
       max-width: 70%;
       height: 1000px;
       word-break: break-word;
       white-space: normal;
       box-shadow:1px 3px 15px 7px rgba(0,0,0,0.2);
    }
    .place-subpage li{
       font-size: 1rem;
    }
    .place-subpage:hover{
       transform: none;
    }
    /*Contributions*/
    .card-contributions-section{
        display: flex;
        flex-direction:column;
        margin: auto auto;
        white-space: nowrap;
        max-width: 95%;
    }
    .card-contributions{
       margin: 1rem auto;
       justify-content: center;
       max-width: 80%;
       max-height: 210px;
       word-break: break-word;
       white-space: normal;
    }
    .card-contributions h2{
        font-size: 1rem;
    }
    .card-contributions p{
        font-size: 1rem;
    }
    /*Galery*/
    .galery{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        width: 100vw;
        height: 300px;
        overflow-x: hidden;
    }
    .galery-content{
        width: 90vw;
        height: 250px;
    }
    .slide img{
        width: 90vw;
        height: 250px;
        object-fit: cover;
    }
    .bar{
        width: 40px;
        height:10px;
        border: 3px solid #fff;
    }
    /*Vídeo player*/
    .video-player{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        width: 100vw;
        height: 250px;
        overflow-x: hidden;
    }
    .video-player-content{
        width: 90vw;
        height: 190px;
    }
    .video iframe{
        width: 90vw;
        height: 190px;
        object-fit: cover;
    }
    .player-bar{
        width: 40px;
        height:10px;
        border: 3px solid #fff;
    }

}

/*Mobile:Tablet*/
@media(max-width:900px){
    body{
        overflow-x: hidden;
    }
    /*Header*/
    header img{
        display: none;
    }
    header{
        display: flex;
        max-width: 100vw;
        justify-content: center;
    }
    header h1{
        justify-content: center;
        margin: auto auto;
        font-size: 25px;
    }
    /*Divisors*/
    .divisors-subpage{
        margin-top: 2rem;
    }
   .divisors-subpage h1{
        font-size: 1.2rem;
    }
    .rec2-subpage{
        width: 15rem;
        height: 2.8rem;
    }
    .rec-subpage{
        width: 15rem;
        height: 2.8rem;
    }
    /*About*/
    .content-card-subpage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .content-card-subpage .category-text{
        font-size: 0.7rem;
        flex-direction: column;
    }
    .content-card-subpage{
        min-width: 95%;
    }
    /*Awards*/
    .awards-subpage{
        display: flex;
        flex-direction:column;
        text-align: center;
        margin: auto auto;
        white-space: nowrap;
        max-width: 95%;
    }
    .awards-subpage h1{
        font-size: 1.2rem;
    }
    .place-subpage{
        margin: 1rem auto;
        justify-content: center;
       text-align: center;
       max-width: 70%;
       height: 300px;
       word-break: break-word;
       white-space: normal;
       box-shadow:1px 3px 15px 7px rgba(0,0,0,0.2);
    }
    .place-subpage li{
       font-size: 1.2rem;
    }
    .place-subpage:hover{
       transform: none;
    }
    /*Team members*/
    .box .name_job{
        font-size: 1.2rem;
    }
    .box p{
        font-size: 1.2rem;
    }
    /*Contributions*/
    .card-contributions-section{
        display: flex;
        flex-direction:column;
        margin: auto auto;
        white-space: nowrap;
        max-width: 95%;
    }
    .card-contributions{
       margin: 1rem auto;
       justify-content: center;
       max-width: 80%;
       max-height: 210px;
       word-break: break-word;
       white-space: normal;
    }
    .card-contributions h2{
        font-size: 1.2rem;
    }
    .card-contributions p{
        font-size: 1.2rem;
    }
    /*Galery*/
    .galery{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        width: 100vw;
        height: 400px;
        overflow-x: hidden;
    }
    .galery-content{
        width: 90vw;
        height: 350px;
    }
    .slide img{
        width: 90vw;
        height: 350px;
        object-fit: cover;
    }
    .bar{
        width: 40px;
        height:10px;
        border: 3px solid #fff;
    }
    /*Vídeo player*/
    .video-player{
        margin-top:1.5rem;
        margin-bottom:1.5rem;
        width: 100vw;
        height: 400px;
        overflow-x: hidden;
    }
    .video-player-content{
        width: 90vw;
        height: 350px;
    }
    .video iframe{
        width: 90vw;
        height: 350px;
        object-fit: cover;
    }
    .player-bar{
        width: 40px;
        height:10px;
        border: 3px solid #fff;
    }
    .contact a i{
        width: 1.2rem;
        padding: 1rem;
    }
}