/*New Header*/
header{
    min-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #003D7A;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 7rem;
}
header h1{
    font-size: 2.5rem;
}
/*Divisors*/
.divisors-subpage{
    display: flex;
    position: relative;
    margin-top: 6rem;
}
.divisors-subpage h1{
    color: white;
    z-index: 10;
    text-align: center;
    align-items:center;
    font-size: 1.6rem;
    margin:1rem;
}
.rec2-subpage{
    background: #003D7A;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 18rem;
    height: 4rem;
    clip-path: rect();
    position: absolute;
}
.rec-subpage{
    background:#da5f0f;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    width: 18rem;
    height: 4rem;
    clip-path: rect();
}
/*Section About*/
.title-teams-subpage{
    width: 50%;
    text-align: center;
    align-items: center;
}
.title-teams-subpage h1{
    width: 15rem;
    margin: 2rem auto;
    border:1px solid #da5f0f ;
    padding: 0.5rem;
}
/*Galery subpage*/
*{
    margin:0;
    padding: 0;
}
#container{
    max-width: 800px;
    height: auto;
    margin: 150px auto;
    background-color: grey;
}
.principal{
    width: 800px;
    height: 270px;
    border: solid 1px black;
    overflow: hidden;
}
.slide{
    display: flex;
    width: 400%;
    transition: all .8s;
}
label img{
    width: 120px;
    cursor: pointer;
    float: left;
    opacity: 0.3;
    transition: all .4s;
}
#foto2:checked ~ .principal .slide{
    margin-left: -100%;
}
#foto3:checked ~ .principal .slide{
    margin-left: -200%;
}
#foto4:checked ~ .principal .slide{
    margin-left: -300%;
}
input[name="grupo"]{
    display: none;
}
input[name="grupo"]:checked + label img{
    display: none;
    opacity: 0.9;
}
/*Team Members cards*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.members{
    display: grid;
    height: 100%;
    place-items: center;   
}
.container{
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.container .box{
  width: calc(33% - 10px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  border-radius: 25px;
  border: 2px solid #003D7A;
  margin-bottom: 25px;
}
.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  margin: 10px 0;
  height: 250px;
  width: 250px;
  background: #da5f0f;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}
.image {
    float:right;
    max-width:6.5rem;
    max-height: 6.5rem;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #003d74;
}
.box .name_job{
  margin: 10px 0 3px 0;
  color: #003d74;
  font-size: 18px;
  font-weight: 600;
}
 .members a{
    color: #da5f0f;
}
.btns{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #da5f0f;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}
/*Contributions cards*/
.card-contributions-section{
    overflow-x:auto;
    overflow-y:hidden ;
    width: 98%;
    margin: auto auto;
    white-space: nowrap;
}
.card-contributions-section h2{
    color: #000000;
    font-size: 1rem;
}
.card-contributions-section a{
    text-decoration: none;
}
.card-contributions {
    display: inline-block;
    padding: 30px;
    margin: 20px;
    width: 400px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    border-left: 5px solid #da5f0f;
    transition: all 0.3s ease-out;
    word-break: break-word;
    white-space: normal;
}
.card-contributions .first-card{
    height: 55px;
    line-height: 55px;
}
.card-contributions .last-card{
    height: 55px;
    line-height: 25px;
}
.card-contributions:nth-child(even){
    border-left: 5px solid #003d74;
}
.card-contributions:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.card-contributions p {
    color: #a3a5ae;
    font-size: 16px;
    margin-top: 1rem;
}


